.header-toolbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #6a84f5 0%, #8737d6 100%);
}

img {
  width: 10%;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.account-menu {
    font-family: 'Poiret One', sans-serif;
}



button {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-count {
  background: rgb(148, 2, 2);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: 5px;
  right: 5px;
}
